.topMenuOne{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.topMenuOne div{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
}
.topMenuTwo{
    display: flex;
    justify-content: center;
}
.topMenuTwo img{
    display: flex;
    justify-content: center;
    width: 100px;
}

.topMenuThr{
    display: flex;
    align-items: center;
    position: relative;
}

.topMenuThr ul{
    display: flex;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.topMenuThr li{
    padding: 10px;
}

.search {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.search input{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.Card{
    background-color: white;
}

.Card img{
    width: 100%;
}

.Card:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.view_img{
    display: flex;
    justify-content: flex-end;
}

.view_img img{
    width: 70%;
}

.viewTitle{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
.viewPrice{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
.viewChoice{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}
